body {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0.1em;
  margin-right: 0.1em;
}
p, ul, ol, dl, h2, h3, h4 { 
  margin-left: 0.2em;
  margin-right: 0.2em; 
}
ul,ol,dl { 
  padding-left: 0;
}
li { 
  margin-left: 1em;
  margin-top: 0;
}
li ul { 
  margin-right: 0;
}
